.root {
    -fx-background-color: #f8f8f8;
    -fx-text-fill: black;
}
.label {
    -fx-text-fill: #333;
}
.button {
    -fx-background-color: #e0e0e0;
}
.text-area, .text-field, .list-view {
    -fx-background-color: white;
    -fx-text-fill: black;
}